* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url("homepage.jpg"); */
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(Images/landing2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
}

.start-btn {
    transition: all 500ms;
}

.start-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
