* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url("../Images/relax-breathe.png"); */
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../Images/relax-breathe.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
}

/* .breathing-relax-content {
    background: rgba(255, 255, 255, 0.3);
} */
