* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
.slide-out {
    animation: slideOut 0.5s forwards;
}

@keyframes slideOut {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.rotate-icon {
    transform: rotate(180deg);
} */
